<h1 style="align: center">Angular circle map</h1>
<div id="search">
    
    <div class="form-group">
        <input type="text"  #start placeholder="Search for starting Location" autocorrect="off" autocapitalize="off" spellcheck="off" class="form-control" #search>
    </div>
    <div class="form-group">
        <input type="text"  #end placeholder="Search for destination Location" autocorrect="off" autocapitalize="off" spellcheck="off" class="form-control" #search>
    </div>
    <div class="form-group">
        <button (click)="direction(start , end)" class="btn btn-success">search</button>
    </div>
    
</div>
<div class="grpOfbtn">
  <button class="btn btn-primary" (click)="roadmapType()">roadmap</button>
  <button class="btn btn-primary" (click)="hybridType()">hybrid</button>
  <button class="btn btn-primary" (click)="satelliteType()">satellite</button>
  <button class="btn btn-primary" (click)="terrainType()">terrain</button>
</div>
<agm-map
  [mapTypeId]="type"
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [zoomControl]="false"
  [draggable]="true"
  (mapClick)="mapClicked($event)">
  
  <agm-direction [origin]="origin" [destination]="destination" ></agm-direction>

   <div id="marker">
        <agm-marker
        [latitude]="lat"
        [longitude]="lng"
        [visible]="true"
        [iconUrl]="icon"
        [markerDraggable]="true"
        (click)="clickedMarker()"
        >
        </agm-marker>
   </div>
    
    <div id="circle">
        <agm-circle 
            [latitude]="lat + 0.3" 
            [longitude]="lng" 
            [radius]="5000"
            [fillColor]="'blue'"
            [circleDraggable]="true"
            [editable]="true">
        </agm-circle>
    </div>
    
</agm-map>